.root-box {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .add-button-box {
        display: flex;
        justify-content: flex-end;
        padding: 10px;

        .add-button {
            display: inline-block;
            padding: 0.5em 1.7em;
            margin: 0 0.1em 0.1em 0;
            border: 0.16em solid rgb(255, 255, 255);
            border-radius: 2em;
            box-sizing: border-box;
            text-decoration: none;
            background-color: transparent;
            font-weight: 300;
            color: #ffffff;
            text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
            text-align: center;
            transition: all 0.5s;
            cursor: pointer;
        }
    }

    .games-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: stretch;
        align-items: stretch;
        column-gap: 20px;
        row-gap: 20px;
    }
}
