.genre-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

mat-card {
    width: 200px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

mat-card-content,.mat-mdc-card-content:first-child {
    padding: 10px;
}

.mat-button,.mdc-button{
    min-width: 0%;
}

.mat-mdc-button>.mat-icon {
    margin-right: 0;
}

.buttons-box {
    display: flex;
    flex-direction: column;
}